body{
  background-image: url(motivation.png);
}

ul{
    list-style-type: none;
  }

  nav{
    background-color: rgb(218, 101, 101);
    height: 50px;
    box-sizing: border-box;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav ul li{
    padding-left: 10px;
    padding-right: 10px;

  }


  button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }

  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%);
  }

  .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }

  button:hover {
    filter: brightness(110%);
  }

  button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }

  button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }

  button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }

  button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }

  button:focus:not(:focus-visible) {
    outline: none;
  }

  .toppers {
    display: flex;
    justify-content: space-around;
  }
  
  .image {
    margin-top: 20px;
    height: 45rem;
    width: 78rem;
    border: 10px solid rgb(0, 0, 0);
    scroll-snap-type: x mandatory;
    overflow: hidden; /* Add this to prevent the image from overflowing */
  }
  
  .collection {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
  
  #img23,
  #img22,
  #img21,
  #img20 {
    flex: 0 0 auto; /* Set flex properties to avoid unnecessary stretching */
    scroll-snap-align: center;
    width: 78rem; /* Adjust the width based on your design */
  }
  
  #img23 img,
  #img22 img,
  #img21 img,
  #img20 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
